<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">性别</dt>
                <dd>男</dd>

                <dt class="text-upper">QQ</dt>
                <dd>1026141807</dd>

                <dt class="text-upper">e-mail</dt>
                <dd><a href="mailto:szzsf1999@163.com">szzsf1999@163.com</a></dd>

                <dt class="text-upper">通讯地址</dt>
                <dd>江苏省扬州市扬州大学扬子津西校区信息工程学院2516</dd>
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->