<section class="section brd-btm" id="certification">
    <h2 class="title-thin text-muted">所获荣誉</h2>

                <div class="ref-cont clear-mrg">
                        <p><i class="fa fa-leaf"></i> 2017-2018学年朱敬文奖学金
                        </p>
                        <p><i class="fa fa-leaf"></i> 2017-2018学年校长一等奖学金
                        </p>
                </div>

<ul class="fa-ul">
  <li><i class="fa-li fa fa-check-square"></i>2017-2018学年朱敬文奖学金</li>
  <li><i class="fa-li fa fa-check-square"></i>2017-2018学年校长一等奖学金</li>
  <li><i class="fa-li fa fa-check-square"></i>2017-2018学年扬州大学三好学生</li>
  <li><i class="fa-li fa fa-check-square"></i>第十届蓝桥杯大学B组省赛二等奖</li>
  <li><i class="fa-li fa fa-check-square"></i>全国大学生软件测试大赛江苏赛区优秀奖</li>
  <li><i class="fa-li fa fa-check-square"></i>2018-2019学年朱敬文奖学金</li>
  <li><i class="fa-li fa fa-check-square"></i>2018-2019学年校长一等奖学金</li>
  <li><i class="fa-li fa fa-check-square"></i>2018-2019学年扬州大学信息学院三好学生</li>
  <li><i class="fa-li fa fa-check-square"></i>2018-2019学年扬州大学信息学院优秀团员</li>
  <li><i class="fa-li fa fa-check-square"></i>国家级大学生创新创业训练计划项目（排名第三）</li>
</ul>

</section><!-- .section -->