<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school.jpeg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>扬州大学</strong>
                        <span>2017 - 2018 | 生态学</span>
                        <span>2018 - 2021 | 软件工程</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>17-18学年就读于园植学院生态学专业，后转入信息学院软件工程专业。
                        </p>
                        <p>曾获朱敬文奖学金2次，校长一等奖学金2次，扬州大学三好学生。
                        </p>
                        <p>当前GPA：3.93/5.0，专业排名：1/75。 
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->