<section class="section brd-btm" id="certification">
    <h2 class="title-thin text-muted">获奖情况</h2>


<ul class="fa-ul">
  <li><i class="fa-li fa fa-square"></i>2017-2018学年朱敬文奖学金：专业第一</li>
  <li><i class="fa-li fa fa-square"></i>2017-2018学年校长一等奖学金：班级第一</li>
  <li><i class="fa-li fa fa-square"></i>in lists</li>
</ul>
<!--
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/PMP.png' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">PMP</h3>
            </div>
        </div>

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/udemy.png' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">Udemy</h3>
            </div>
        </div>
    </div>
-->


</section><!-- .section -->